alabaster
anaconda-client==1.7.2
anaconda-navigator==2.0.3
anaconda-project 
anyio 
appdirs==1.4.4
applaunchservices==0.2.1
appnope 
appscript
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2021.10.8
click
conda==4.11.0
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock 
flake8 
Flask 
fsspec 
future==0.18.2
gmpy2==2.0.8
greenlet 
h5py==2.10.0
HeapDict==1.0.1
html5lib 
idna 
imageio 
imagesize
importlib-metadata 
iniconfig 
intervaltree 
ipykernel 
ipython 
ipython-genutils
ipywidgets 
isort 
json5==0.9.5
jsonschema 
libarchive-c 
llvmlite==0.36.0
locket==0.2.1
lxml @ file:///opt/concourse/worker/volumes/live/42fc56a4-88b4-4605-6037-9605f4e5eeeb/volume/lxml_1616443240194/work
MarkupSafe==1.1.1
mccabe==0.6.1
mistune 
mkl-fft==1.3.0
mkl-random 
mkl-service==2.3.0
mock 
numpy 
numpydoc 
packaging
pandas==1.2.4
pandocfilters @
parso==0.7.0
partd 
path 
pathlib2 
pathspec==0.7.0
patsy==0.5.1
pep8==1.7.1
py 
pycodestyle 
pycosat==0.6.3
pycparser 
pycurl==7.43.0.6
pydocstyle 
pyee==8.2.2
pyerfa 
pyflakes 
Pygments 
pylint 
pyls-black 
pyls-spyder 
pyodbc===4.0.0-unsupported
pyOpenSSL 
pyparsing 
PyPDF2==1.26.0
pyppeteer==1.0.2
pyrsistent 
PySocks
pytest==6.2.3
python-dateutil 
python-jsonrpc-server 
python-language-server 
tenacity==8.0.1
typed-ast 
typing-extensions 
unicodecsv==0.14.1
urllib3 
watchdog 
